<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bonds Analysis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>Bonds Analysis</h1>

    <form method="POST" action="/analyze/result">
      <label for="political_party">Political Party:</label>
      <input type="text" id="political_party" name="political_party" />
      <button type="submit">Submit</button>
    </form>

    <div>
      <canvas id="bondsChart"></canvas>
    </div>

    <div>
      <canvas id="totalValueChart"></canvas>
    </div>

    <div>
      <h2>Search Results</h2>
      <table border="1">
        <thead>
          <tr>
            <th>Year</th>
            <th>Number of Bonds</th>
            <th>Total Bond Value</th>
          </tr>
        </thead>
        <tbody>
          {% for index in range(years|length) %}
          <tr>
            <td>{{ years[index] }}</td>
            <td>{{ num_bonds[index] }}</td>
            <td>{{ total_value[index] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
      {%if years%}

      const years = {{ years|tojson }};
      const num_bonds = {{ num_bonds|tojson }};
      const total_value = {{ total_value|tojson}};
      var bondsChart = new Chart(document.getElementById('bondsChart'), {
          type: 'bar',
          data: {
          labels: years,
          datasets: [{
          label: 'Number of Bonds',
          backgroundColor: 'blue',
          data: num_bonds
          }]
          },
          options: {
          responsive: true,
          maintainAspectRatio: false
          }
      });
      var saveButton = document.createElement('button');
      saveButton.innerHTML = 'Save Chart';
      document.body.appendChild(saveButton);
      saveButton.addEventListener('click', function() {
          var url_base64jp = bondsChart.toBase64Image();
          var a = document.createElement('a');
          a.href = url_base64jp;
          a.download = 'chart.png';
          a.click();
      });
      var totalValueChart = new Chart(document.getElementById('totalValueChart'), {
          type: 'bar',
          data: {
          labels: years,
          datasets: [{
          label: 'Total Bond Value',
          backgroundColor: 'green',
          data: total_value
          }]
          },
          options: {
          responsive: true,
          maintainAspectRatio: false
          }
      });
      var saveTotalValueChartButton = document.createElement('button');
      saveTotalValueChartButton.innerHTML = 'Save Total Value Chart';
      document.body.appendChild(saveTotalValueChartButton);
      saveTotalValueChartButton.addEventListener('click', function() {
          var url_base64jp = totalValueChart.toBase64Image();
          var a = document.createElement('a');
          a.href = url_base64jp;
          a.download = 'totalValueChart.png';
          a.click();
      });
    </script>
    {%endif%}
  </body>
</html>
